:root {
  --primary-color: #333;
  --secondary-color: #444;
  --overlay-color: rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Catamaran', sans-serif;
  line-height: 1.6;
  color: #333;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

a {
  color: #444;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  padding: 0.5rem 1rem;
  width: 90%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.navbar {
  font-size: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.navbar .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.navbar .logo {
  margin-top: 10px;
  font-size: 2rem;
}

.navbar ul {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  padding: 0 1rem;
}

.navbar a:hover {
  color: #555;
}

.section-a {
  margin: 1rem 0;
}

.section-a .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
}

.section-a .contact {
  padding: 2rem;
  color: var(--primary-color);
  background-color: lightgray;
}

.section-a .Shop-name{
  text-align: center;
  margin: 1rem 0;
  font-size: 2rem;
  padding: 1.5rem;
  color: white;
  background-color: black;
}

.section-a .location {
  margin: 1rem 0;
  padding: 2rem;
  background-color: lightgray;
}

/* Section B */

.section-b .heading{
  font-size: 2rem;
  padding: 1rem;
  color: white;
  background-color: black;
}

.section-b .services{
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section-b .title h3{
  padding: 1rem;
  background-color: lightgray;
  font-size: 2rem;
  margin: 1rem 0;
}


.section-footer {
  background: var(--primary-color);
  color: #fff;
  padding: 4rem 0;
}

.section-footer .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.section-footer h2 {

  font-size: 2rem;
  margin: 1rem 0;
}

.section-footer h3 {
  margin-bottom: 0.7rem;
}

.section-footer a {
  line-height: 1.9;
  color: #ccc;
}

.section-footer a > i {
  color: #555;
  margin-right: 0.5rem;
}

@media (max-width: 700px) {
  .section-a .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .section-a img {
    width: 80%;
    margin: auto;
  }

  .section-footer {
    padding: 2rem 0;
  }
  .section-footer .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .section-footer div:nth-child(2),
  .section-footer div:nth-child(3) {
    display: none;
  }
}
